<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
  <h1 class="heading">Login Page</h1>
  <ul id ="option"><h2>List of API's available:</h2>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/Cart">Cart</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      <div>
      <form>
        <label for="name">Username</label>
        <input type="text" id="name" required>
        <label for="password">Password</label>
        <input type="password" id="password" required>
        <button>Login</button>
      </form>
    </div>
</body>
</html>