<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
  <h1 class="heading">Registration Page</h1>
  <ul id ="option"><h2>List of API's available:</h2>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/Cart">Cart</a></li>
        <li><a href="/login">Login</a></li>
       
      </ul>
      <div>
      <fieldset id="outer">
      <form id="form" action="/user" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required><br>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" required><br>
        <label for="userName">Username</label>
        <input type="text" id="userName" name="userName" required><br>
        <label for="phoneNo">PhoneNo</label>
        <input type="number" id="phoneNo" name="phoneNo" required><br>
       
        <button>Submit</button>
      </form>
    </fieldset>
    </div>
</body>
</html>