<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/Cart">Cart</a></li>
        <li><a href="/login">Login</a></li>
       
      </ul>
      <div>
      <form action="/user" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" required>
        <label for="userName">Username</label>
        <input type="text" id="userName" name="userName" required>
        <label for="phoneNo">PhoneNo</label>
        <input type="number" id="phoneNo" name="phoneNo" required>
       
        <button>Submit</button>
      </form>
    </div>
</body>
</html>